.friendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px; /* Ширина квадратика */
  height: 120px;
  padding: 10px; /* Внутрішні відступи */
  border: 1px solid black; /* Бордер квадратика */
  border-radius: 6px; /* Заокруглення країв */
  background-color: #ffffff; /* Фоновий колір */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легке затемнення для ефекту */
}

.friendItem img {
  width: 50px; /* Ширина аватара */
  height: 60px; /* Висота аватара */
  /* border-radius: 50%;  */
  margin-bottom: 10px;
}

.friendItem .status {
  font-size: 12px; /* Розмір шрифту для статусу */
}

.online {
  color: green;
}

.offline {
  color: red;
}