.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  width: 150px; 
}

.transactionHistory th {
  background-color: black;
  font-weight: bold;
  color: white;
}

.transactionHistory tr:nth-child(even) {
  background-color: lightgrey; 
  color: black;
}

.transactionHistory tr:nth-child(odd) {
  background-color: #ffffff; 
  color: black;
}